<form method = 'post' action = '/articles'>
    <input type = 'text' placeholder = 'title' name = 'title'/>
    <input type = 'text' placeholder = 'author' name = 'author'/>
    <textarea placeholder = 'writing here' name = 'body'></textarea>
    <button type = 'submit'>Post!</button>
</form>