<h2>Thank You</h2>
<p>Thank you for the information</p>
<p>Will be back to <a href="/">Home</a> page after 3 seconds</p>

<script>
        setTimeout(function(){
            window.location.href = '/';
         }, 3000);
</script>


